<div>
    <h1><%- title %></h1>
    <% if(errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><i><%= error.msg %></i></li>            
        <% }) %>
    </ul>
    <% } %>

</div>

<div class="newinventory">
    <p><i>All fields are required.</i></p>
    <form action="/inv/add-inventory" method="post">        
        <fieldset>            
            <label for="classification_id">Classification:</label><br>
            
            <%- list  %>

            <label for="inv_make">Make</label><br>
            <input type="text" id="inv_make" name="inv_make" required placeholder="Min of 3 characters" value="<%= locals.inv_make %>"><br>

            <label for="inv_model">Model</label><br>
            <input type="text" id="model" name="inv_model" required value="<%= locals.inv_model %>" placeholder="Min of 3 characters"><br>
            
            <label for="inv_description">Description</label><br>
            <textarea type="text" id="inv_description" name="inv_description" required rows="5" cols="50"><%= locals.inv_description %></textarea><br>  
            
            <label for="inv_image">Image Path</label><br>
            <input type="text" id="inv_image" name="inv_image" value="/images/vehicles/no-image.png" required><br>

            <label for="inv_thumbnail">Thumbnail Path</label><br>
            <input type="text" id="inv_thumbnail" name="inv_thumbnail" value="/images/vehicles/no-image-tn.png" width="350px" ><br>

            <label for="inv_price">Price</label><br>
            <input type="text" name="inv_price" id="price" required value="<%= locals.inv_price %>"><br>

            <label for="inv_year">Year</label><br>
            <input type="text" name="inv_year" id="year" placeholder="4-digit year" required value="<%= locals.inv_year %>"><br>

            <label for="inv_miles">Miles</label><br>
            <input type="text" name="inv_miles" id="miles" placeholder="digit only" required value="<%= locals.inv_miles %>"><br>

            <label for="inv_color">Color</label><br>
            <input type="text" name="inv_color" id="color" required value="<%= locals.inv_color %>"><br>

            <button type="submit">Add Vehicle</button><br>
        </fieldset>
    </form>    
</div>